@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  background-color: #111;
  padding: 20px;
  margin: 15px auto;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
